.smart-app {
    padding: 100px 0 0 60px;
    position: relative;

    &::before{
        position: absolute;
        content: url(../img/smart-app/pattern.png);
        max-width: 55%;
        max-height: 1283px;
        overflow: hidden;
        top: 230px;
        left: 0;
        z-index: -1;
    }
    @include breakpoint(md) {
        padding: 20px;
    }
    &__wrapper {
        @include f-center;
        @include offset(1);

        @include breakpoint(md) {
            flex-direction: column;
            @include offset(0);
        }
    }

    &__img {
        width: 100%;
        
        &__block{
            margin-right: 50px;

            @include breakpoint(md) {
                order: -1;
                width: 25%;
                margin-left: 30%;
            }

            @include breakpoint(sm) {
                margin-left: auto;
            }
        }
    }

    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        max-width: 510px;

        @include breakpoint(sm) {
            margin-left: 0;
        }
    }

    &__title {
        letter-spacing: -1.5px;
        font-size: 48px;
        padding-bottom: 55px;

        @include breakpoint(sm) {
            font-size: 32px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        padding: 25px 35px 25px 110px;
        position: relative;
        background: #fff;
        border-radius: 20px;
        margin-bottom: 40px;
        transition: $fast;

        @include breakpoint(sm) {
            padding: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover{
            box-shadow: 0px 8px 24px rgba(69, 88, 157, 0.97);
        }

        &__img{
            position: absolute;
            left: 30px;

            @include breakpoint(sm) {
                left: 70%;
                top: -5%;
            }
        }

        &__title{
            font-weight: 700;font-size: 18px;
            margin-bottom: 20px;
        }
        &__descr{
            font-weight: 400;font-size: 15px;line-height: 26px;
            color: var(--text-bl-secondary);
        }
    }

}